$body-color: #00007F;
$side-text-color: #fff;
$font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

* {
    padding: 0;
    margin: 0;
    font-family: $font-family;
}

.body {
    position: absolute;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    a {
        color: $side-text-color;
        text-decoration: none;
        padding: 10px 20px;
        display: block;
    }
}

.sidebar { 
    grid-area: 1 / 1 / 2 / 3;
    background: $body-color;
    width: 200px;
}

.layout { 
    grid-area: 1 / 2 / 2 / 3; 
}

.overview {
    padding: 20px;
}

.form {
    padding: 20px;

    input, button {
        padding: 5px 10px;
        margin: 10px 0;
        font-size: 1em;
        border-radius: 3px;
        outline: none;
    }

    button {
        margin-left: 10px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {
    .body {
        grid-template-columns: 120px 1fr;

        .sidebar { 
            width: 120px;
        }
    }
  }